<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <h1>Registration page</h1>

    <form action="/registration" method="post">
        <input type="text" name="name" id="name" required placeholder="Enter Full Name"> <br>
        <input type="email" name="email" id="email" required placeholder="Enter Email"> <br>
        <input type="password" name="password" id="password" required placeholder="Enter Password"> <br>
        <input type="submit" value="Register">
    </form>

</body>
</html>